-network = team.network_growth
%h2 City Stats
%ul
  -if team.projects.size > 0
    %li
      %strong 
        =link_to team.projects.size, "/teams/#{team.name}"
      Projects
  %li
    %strong 
      =team.all_members.size
    Team Members
  %li
    %strong
      =team.events.count
    Events Attended
  %li
    %strong
      =team.events.sum(:attendance)
    Event Attendance
  
