%p#notice= notice

%p
  %b Name:
  = @team.name
%p
  %b Active:
  = @team.active

%h2 Team Members
%ul
  -@team.users.each do |user|
    %li
      =link_to user.profile.name, user.profile

%h2 Projects
%ul
  -@team.projects.each do |project|
    %li
      =link_to project.name, project
-if current_user and current_user.admin?
  %h2 Surveys
  %table
    %tr
      %th Date
      %th Survey
      %th Value
      %th Name
      %th Comments
      -@team.survey_responses.order("updated_at DESC").each do |sr|
        %tr
          %td=sr.updated_at.strftime("%m/%d/%y")
          %td=survey_name(sr)
          %td=raw(r_y_g(sr.response))
          %td=link_to sr.user.profile.name, sr.user.profile
          %td=sr.note

%h2 Activity

%ul
  -@team.project_activities.order("updated_at DESC").each do |activity|
    %li
      =raw(activity.activity)
= link_to 'Back', teams_path
