%p#notice= notice
.row
  .span16
    %h1=@team.name
    =link_to "Edit", edit_team_path(@team) if current_user
.row
  .span4.stats
    =render :partial => "team_summary", :locals => {:team => @team}
  .span8
    -if current_user
      .row
        .span12.stats
          -if current_user
            %h2 Survey Trends
            =render :partial => "surveys/survey_trend", :locals => {:trends => @team.survey_responses.trends_by_response}
    .row
      .span8.stats
        %h2 Team Members
        %ul.team_members
          -@team.all_members.each do |user|
            %li
              =link_to gravatar_image_tag(user.email, :alt => user.profile.name), user.profile
              %br
              =link_to user.profile.name, user.profile

%ul.tabs{"data-tabs" => "tabs"}
  %li.active
    %a{:href=>"#projects"}
      Projects
  %li
    %a{:href=>"#stories"}
      Stories
  %li
    %a{:href=>"#activity"}
      Activity
  %li
    %a{:href=>"#events"}
      Events

  -if current_user and current_user.admin?
    %li
      %a{:href=>"#surveys"}
        Surveys

.my-tab-content
  .active.tab-pane{:id => "projects"}
    %table
      %tr
        %th Name
        %th Tags
        %th Team
        -if current_user
          %th Survey
        %th Active
        %th Milestone
        %th Progress
        %th Last Updated
        %th
        =render @team.projects
  %div.tab-pane{:id=> "events"}
    =render :partial => "events/events_index", :locals => {:events => @team.events}
  %div.tab-pane{:id => "activity"}
    %ul
      -@team.project_activities.each do |activity|
        %li
          =raw(activity.activity)
  .tab-pane{:id => "stories"}
    %ul
      -@team.stories.each do |story|
        %li
          =story.team.name + ": " if story.team
          =story.project.name + ": " if story.project
          =story.story
  -if current_user and current_user.admin
    %div.tab-pane{:id => "surveys"}
      %table
        %tr
          %th Date
          %th Survey
          %th Value
          %th Name
          %th Comments
          -@team.survey_responses.order("updated_at DESC").each do |sr|
            %tr
              %td=sr.updated_at.strftime("%m/%d/%y")
              %td=survey_name(sr)
              %td=raw(r_y_g(sr.response))
              %td=link_to sr.user.profile.name, sr.user.profile
              %td=sr.note

