%p#notice= notice

%p
  %b Name:
  = @team.name
-if current_user
  .row
    .span16    
      =render :partial => "surveys/survey_trend", :locals => {:trends => @team.survey_responses.trending}
.row
  .span12
    %h2 Team Members
    %ul.team_members
      -@team.all_members.each do |user|
        %li
          =link_to gravatar_image_tag(user.email, :alt => user.profile.name), user.profile
          %br
          =link_to user.profile.name, user.profile
%h2 Network Growth
%ul
  -network_growth = @team.network_growth(1.years.ago, Time.now)
  %li 
    Current Network Size: 
    %span.growth
      =network_growth[0]
  %li 
    Year to Date Growth: 
    %span.percent_growth
      =number_to_percentage(network_growth[1],:precision => 1)

%h2 Projects
%table
  %tr
    %th Name
    %th Tags
    %th Team
    -if current_user
      %th Survey
    %th Active
    %th Milestone
    %th Progress
    %th Last Updated
    %th
    =render @team.projects
  
-if current_user and current_user.admin?
  %h2 Surveys
  %table
    %tr
      %th Date
      %th Survey
      %th Value
      %th Name
      %th Comments
      -@team.survey_responses.order("updated_at DESC").each do |sr|
        %tr
          %td=sr.updated_at.strftime("%m/%d/%y")
          %td=survey_name(sr)
          %td=raw(r_y_g(sr.response))
          %td=link_to sr.user.profile.name, sr.user.profile
          %td=sr.note

%h2 Activity

%ul
  -@team.project_activities.each do |activity|
    %li
      =raw(activity.activity)
= link_to 'Back', teams_path
