%p#notice= notice
.row
  .span16
    %h1=@team.name
.row
  .span4.stats
    =render :partial => "team_summary", :locals => {:team => @team}
  .span12
    -if current_user
      .row
        .span12.stats
          -if current_user
            %h2 Survey Trends
            =render :partial => "surveys/survey_trend", :locals => {:trends => @team.survey_responses.trending}
    .row
      .span12.stats
        %h2 Team Members
        %ul.team_members
          -@team.all_members.each do |user|
            %li
              =link_to gravatar_image_tag(user.email, :alt => user.profile.name), user.profile
              %br
              =link_to user.profile.name, user.profile

%ul.tabs{"data-tabs" => "tabs"}
  %li.active
    %a{:href=>"#projects"}
      Projects
  %li
    %a{:href=>"#activity"}
      Activity
  -if current_user and current_user.admin?
    %li
      %a{:href=>"#surveys"}
        Surveys

.my-tab-content
  .active.tab-pane{:id => "projects"}
    %table
      %tr
        %th Name
        %th Tags
        %th Team
        -if current_user
          %th Survey
        %th Active
        %th Milestone
        %th Progress
        %th Last Updated
        %th
        =render @team.projects
  %div.tab-pane{:id => "activity"}      
    %ul
      -@team.project_activities.each do |activity|
        %li
          =raw(activity.activity)
-if current_user and current_user.admin 
  %div.tab-pane{:id => "surveys"}
    %table
      %tr
        %th Date
        %th Survey
        %th Value
        %th Name
        %th Comments
        -@team.survey_responses.order("updated_at DESC").each do |sr|
          %tr
            %td=sr.updated_at.strftime("%m/%d/%y")
            %td=survey_name(sr)
            %td=raw(r_y_g(sr.response))
            %td=link_to sr.user.profile.name, sr.user.profile
          %td=sr.note

