%h1 Code for America People
.row
  .span12
    %ul.profiles
      -@profiles.each do |profile|
        %li
          =link_to gravatar_image_tag(profile.user.email, :alt => profile.name), "/profiles/#{profile.name}"
          %br
          =link_to profile.name, "/profiles/#{profile.name}"
