-@user = @profile.user
.row
  .span16
    =link_to gravatar_image_tag(@user.email, :alt => @profile.name), @profile
    %h2=@profile.name
    = link_to 'Edit', edit_profile_path(@profile) if current_user==@user
.row
  .span8.stats
    -if current_user and (current_user.profile==@profile or current_user.admin?)
      %h2 Survey Trends
      =render :partial => "surveys/survey_trend", :locals => {:trends => @user.survey_responses.trending}
    .clearfix
    %h2 Cities
    %ul
      %li
        -@user.teams.uniq.each do |team|
          -if team==@user.teams.last
            =raw(team.to_url)
          -else
            =raw(team.to_url) + ", "
    %h2 Projects
    %ul
      -@user.projects.each do |project|
        %li
          =link_to project.name, "/projects/#{project.name}"
  .span8.stats
    %h2 Details
    %ul
      %li
        %b Bio: 
        =@profile.bio
      %li
        %b Email: 
        =@user.email
      %li
        %b=@profile.user_type 

%ul.tabs{"data-tabs" => "tabs"}
  %li.active
    %a{:href=>"#stories"}
      Stories
  %li
    %a{:href=>"#activity"}
      Activity
  -if current_user and (current_user==@user or current_user.admin?)
    %li
      %a{:href=>"#surveys"}
        Surveys

.my-tab-content
  .active.tab-pane{:id => "stories"}
    %ul
      -@user.stories.each do |story|
        %li
          =story.team.name + ": " if story.team
          =story.project.name + ": " if story.project
          =story.story
  .tab-pane{:id => "activity"}
    %ul
      -@user.activities.order("updated_at DESC").each do |activity|
        %li
          =raw(activity.activity)
  -if current_user and current_user.admin?
    .tab-pane{:id => "surveys"}
      %table
        %tr
          %th Date
          %th Survey
          %th Value
          %th Name
          %th Comments
          -@user.survey_responses.order("updated_at DESC").each do |sr|
            %tr
              %td=sr.updated_at.strftime("%m/%d/%y")
              %td=survey_name(sr)
              %td=raw(r_y_g(sr.response))
              %td=link_to sr.user.profile.name, sr.user.profile
              %td=sr.note

