<!DOCTYPE html>
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
  %body
    %h2
      ="Hey #{@user.profile.try(:name)},"
    %p
      Pop over to <a href="http://intersection.codeforamerica.org/my_surveys">the Code for America Dashboard</a> and take the latest round of surveys!
    %p
      Thanks,
      Bobby

