-network = team.network_growth
%h2
  =link_to team.name, "/teams/#{team.name}"
%ul
  %li
    %strong 
      =link_to team.projects.size, "/teams/#{team.name}"
    Projects
  %li
    %strong 
      =team.all_members.size
    Team Members
  
  %h4
    -if current_user
      =render :partial => "surveys/survey_trend", :locals => {:trends => team.survey_responses.trends_by_response(num=2)}
