.row
  .span6
    %div{:id=>"pie_div"}
    -if ProjectMilestone.count > 0
      %div{:id=>"project_chart_div"}
  .span6
    %div{:id=>"chart_div"}
    %div{:id=>"network_div"}

.row.new_section
  .span4.stats
    %h2 2012 CFA Stats
    %ul
      %li.arrows
        %h3=link_to "#{@fellows.size} Fellows", profiles_path
      %li.arrows
        %h3=link_to "#{@projects.size} Projects", projects_path
      %li.arrows
        %h3=link_to "#{@events.size} events attended"
  .span8.stats
    %h2 Recent Projects
    %ul
      -@projects[0..10].each do |project|
        %li.arrows
          %h3=link_to project.name, project