%h1.floated
  ="2012 Events Hosted (#{@events.size})"
#new
  = link_to 'New Event', new_event_path, :class => "btn btn-primary" if current_user
=render "charts"
=render :partial => "events_index", :locals => {:events => @events}
