-network = team.network_growth
%h2 City Stats
%ul
  %li
    %strong 
      =link_to team.projects.size, "/teams/#{team.name}"
    Projects
  %li
    %strong 
      =team.all_members.size
    Team Members
  
