%h1
  ="Projects (#{@projects.size})"
= link_to 'New Project', new_project_path if current_user
=form_for @search do |f|
  %table.table.sortable
    %thead
      %tr
        %th Name
        %th Tags
        %th Team
        -if current_user
          %th Survey
        %th Active
        %th Milestone
        %th Progress
        %th Last Updated
        %th

    %tbody  
      =render @projects

%br

