/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
body {
  color: #666;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  text-shadow: none;
}

a#logo {
  width: 250px;
  height: 101px;
  background: url(cfa-full-logo.png) 0 0 no-repeat;
  margin-top: 3px;
  display:block;
}

#top_header {
 height: 120px; 
}

.gravatar img {
  float: left;
  padding: 10px;
}


#nav {
  margin: 0px;
  padding:0px;
  list-style: none;
}

#nav li {
  float: left;
  padding-right: 3px;
  background: url(nav-li-bg.gif) top right no-repeat;
}

#nav li a {
  padding: 0 14px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: #ccc 1px 1px 1px;
}

label {
  float:none;
}

#red {
  background-color: red;
  width: 20px;
  height: 20px;
  color: red;
}

#yellow {
  background-color: yellow;
  width: 20px;
  height: 20px;
  color: yellow;
}

#green {
  background-color: green;
  width: 20px;
  height: 20px;
  color: green;
}

ul.trends {
  list-style: none;
  margin: 0px;
}

ul.trends li {
  float: left;
  margin-right: 5px;
}

.tab-pane {
  display: none;
}

.active {
  display: block;
}

.clearfix {
  clear:both
}

.no_bottom {
  margin-bottom: 0px;
}

ul.submenu {
  list-style: none;
  padding: 5px;
  margin-left: 7px;
  display: none;
}

ul.submenu li {
  float: left;
  margin-right: 10px;
}

ul.submenu li a {
  color: black;
}

ul.subnav {
  list-style: none;
  padding: 10px
}

ul.subnav li {
  float: right;
  margin-right: 10px;
}

ul.subnav li a {
  color: black;
}

.story label, .event label {
  float: none;
  font-weight: bold;
}

.story textarea, .event textarea {
  margin-top: 10px;
  width: 440px;
  height: 100px;
}



