// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.stats ul {
padding-top: 11px;
margin: 0px;
padding-left: 0px;
list-style: none;
background: url(/assets/horizontal-dots.gif) 0 0 repeat-x;
background-image: url(/assets/horizontal-dots.gif);
background-repeat-x: repeat;
background-repeat-y: no-repeat;
background-attachment: initial;
background-position-x: 0px;
background-position-y: 0px;
background-origin: initial;
background-clip: initial;
background-color: initial;
}

.stats ul li {
vertical-align: middle;
margin-bottom: 10px;
}

.stats ul li strong {
font-size: 35px;
margin-left: 5px;
color: #666;
}

.stats li img {
  width: 20px;
}

.stats ul h4 {
font-size: 11px;
margin-bottom: 5px;
}

.row.new_section {
padding-top: 15px;
margin-top: 10px;
}
