// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.profiles {
list-style: none;
}

ul.profiles li {
float: left;
margin: 5px;
}
