// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea#project_description {
  width: 400px;
  height: 250px;
  margin: 15px;
}

input#project_name {
  width: 400px;
  margin: 15px;
}

textarea#project_impact_statement {
  width: 400px;
  height: 250px;
  margin: 15px;
}

input#project_active {
  margin: 15px;
}

.bar_graph {
  width: 100px;
  height: 20px;
  border: solid 1px grey;
}

.size_5 {
  width: 100px;
  height: 20px;
  background-color: green;
}

.size_4 {
  width: 80px;
  height: 20px;
  background-color: green;
}

.size_3 {
  width: 60px;
  background-color: green;
}

.size_2 {
  width: 40px;
  background-color: green;
}

.size_1 {
  width: 20px;
  height: 20px;
  background-color: green;
}
